@model  PruebaTecnica.Models.ViewModels.DevolucionViewModel

@{ ViewBag.Title = "Registrar Devolución"; }

<h2>@ViewBag.Title</h2>

<!-- Formulario para registrar devolución -->
<form id="formDevolucion">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Idproducto, new { id = "ProductoID" })


    <div class="form-group">
        <label>Producto: @Model.NombreDelProducto</label>
    </div>

    <div class="form-group">
        <label for="Comentario">Comentario:</label>
        <textarea name="Comentario" id="Comentario" class="form-control" rows="4"></textarea>

    </div>

    <button type="submit" class="btn btn-primary">Registrar Devolución</button>
</form>

<!-- Aquí se mostrará el resultado de la operación -->
<div id="resultado"></div>

<!-- Incluir jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        // Manejar la acción de envío del formulario con AJAX
        $('#formDevolucion').submit( function (e) {
            e.preventDefault(); // Prevenir el envío tradicional del formulario

            // Obtener los valores del formulario
            var productoId = $('#ProductoID').val();
            var comentario = $('#Comentario').val();


            $.ajax({
                url: '@Url.Action("CrearDevolucion", "Devoluciones")',
                type: 'POST',
                data: {

                    productoId: productoId,
                    comentario: comentario
                     
                },
                success: function (data) {
                    // Mostrar el resultado en la página
                    if (data.success) {
                        $('#resultado').html('<div class="alert alert-success mt-3">' + data.message + '</div>');

                        
                        setTimeout(function () {
                            window.location.href = data.redirectUrl;
                        }, 3000); 


                        
                    } else {
                        $('#resultado').html('<div class="alert alert-danger mt-3">' + data.message + '</div>');
                        setTimeout(function () {
                            window.location.href = data.redirectUrl;
                        }, 3000);
                    }
                },
                error: function (xhr, status, error) {
                    // Manejo de errores
                    $('#resultado').html('<div class="alert alert-danger">Error al procesar la solicitud.</div>');
                }
            });
        });
    });
</script>